<h1>Подготовка к игре</h1>
<h2>Игроки:</h2>
<div class="players-list">
  <%= render partial: "players/player", collection: @players %>
</div>

<h2>Роли:</h2>
<div class="roles-list">
  <%= render partial: "roles/role", collection: @roles %>
</div>
<%= link_to 'Продролжить', next_wizard_path, class: "button-secondary" %>
