<div id="<%= dom_id game_session %>">
  <p>
    <strong>Title:</strong>
    <%= game_session.title %>
  </p>

  <div class="players">
    <%= render partial: "players/player", collection: game_session.players %>
  </div>
</div>
