<div class="nested-form-wrapper input-container" data-new-record="<%= f.object.new_record? %>">
  <%= f.text_field :name, class: "form-input", placeholder: "" %>
  <%= f.label :name, "Имя игрока", class: "form-label" %>
</div>
