<div class="role-card" style="background-image: url('<%= asset_path "#{role.fraction.downcase}.jpg"%>')">
  <div class="role-content">
    <h3 class="role-title"><%= role.name %></h3>
    <p class="role-description"><%= role.description %></p>
  </div>
</div>
